/****** PLACE YOUR CUSTOM STYLES HERE ******/
.paypal{
    width: 100%;
    background: #13181d;
    color: #fff;
    border: 2px solid #13181d;
    line-height: initial;
}
.image-xs {
    max-height: 45px;
}
.bg-white{
 background-color: white;
 color: black;
}
